.teacher-page {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100vw;
    height: 100vh;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

    background-color: #fd5378;
    display: flex;
    align-items:center;
    justify-content: center;
}


